body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 3px black;
}
.screen {
    width: 495px;
    height: 150px;
    border: 3px black solid;
    background-color: white;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
    gap: 1px;
    
}
.num {
    cursor: pointer;
    width: 135px;
    border: 3px black solid;
    font-size: 30px;
    text-align: center;
}